body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #cdcdcd;
    color: #333;
    font-size: 20px; /* Increased font size for body text */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
}

.logo {
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #555;
    text-align: center;
}

p {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 20px; /* Increased font size for body text */
}

.feature {
    margin-bottom: 40px;
}

.feature img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.feature-content {
    text-align: left;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.footer-content {
    max-width: 600px;
    margin: 0 auto;
}

.footer-heading {
    font-size: 28px;
    margin-bottom: 20px;
}

.footer-text {
    font-size: 20px; /* Increased font size for footer text */
    margin-bottom: 20px;
}

.blue-text {
    color: lightskyblue; /* Set the color to blue */
}