/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    color: #333;
    line-height: 1.6;
}

/* Container Styles */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* Logo Styles */
.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 200px; /* Adjust the size of the logo */
    height: auto;
}

/* Heading Styles */
h1, h2, h3 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Paragraph Styles */
p {
    text-align: justify;
    margin-bottom: 20px;
}

/* Feature Styles */
.feature {
    margin-bottom: 40px;
    text-align: center;
}

.feature img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.feature img:hover {
    transform: scale(1.05);
}

.feature-content {
    margin-top: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.footer-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-text {
    font-size: 18px;
    margin-bottom: 20px;
}

.blue-text {
    color: lightskyblue;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px; /* Adjust padding as needed */
}

.header-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: lightskyblue;
}