body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    animation: changeBackground 10s infinite; /* Apply the animation */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the items horizontally */
    background-color: #ffffff; /* White background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80%;
    max-width: 600px;
    padding: 20px; /* Add padding to create space around the items */
}

.image {
    flex: 1;
    text-align: center; /* Center the image horizontally */
}

.image img {
    max-width: 100%; /* Ensuring the image doesn't exceed the container's width */
    height: auto; /* Maintain aspect ratio */
}

.form {
    flex: 1;
    padding: 20px;
    position: relative;
}

.form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #800080; /* Purple header text */
}

.form input[type="email"],
.form input[type="text"],
.form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ffa500; /* Orange border */
    border-radius: 5px;
    box-sizing: border-box;
}

.form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff69b4; /* Pink button background */
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}

.form input[type="submit"]:hover {
    background-color: #0000ff; /* Blue button background on hover */
}

.form .forgot-password {
    text-align: center;
    margin-top: 10px;
}

.form .forgot-password a {
    color: #0000ff; /* Blue link color */
    text-decoration: none;
}

@keyframes changeBackground {
    0% {
        background-image: url("../assets/team photos/yoga.webp");
    } 
    25% {
        background-image: url("../assets/team photos/greenJuice.avif");
    }
    50% {
        background-image: url('../assets/team photos/goodsleep.jpg');
    }
    75% {
        background-image: url('../assets/team photos/skipping.jpg');
    }
    100% {
        background-image: url('../assets/team photos/fruits.jpg');
    }
}
