body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6a1b9a; /* Purple background */
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.meditation-session {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.meditation-session h2 {
    margin-top: 0;
}

button {
    background-color: #0664df;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0664df;
}

footer {
    background-color: #ff69b4; /* Pink footer */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.logo{
    width: 100px; 
    height: auto;
}
